{% extends 'base.html.twig' %}

{% block title %}Workflow {{ workflowName | replace({'_': ' '}) | title }}{% endblock %}

{% block body %}
{{ dump(beerGlass) }}
<div class="example-wrapper">
    <h1>Workflow for {{ workflowName | replace({'_': ' '}) | title }}</h1>
    <dl>
        <dt>State</dt>
        <dd>{{ workflow_marked_places(beerGlass, true, workflowName) | join(', ') }}</dd>
    </dl>
    {% for transition in workflow_transitions(beerGlass, workflowName) %}
        <form action="{{ path('app_workflow_transition', {'id': beerGlass.id }) }}" method="post">
            <input type="hidden" name="workflow_name" value="{{ workflowName }}">
            <input type="hidden" name="transition" value="{{ transition.name }}">
            <input type="submit" class="btn btn-outline-primary btn-lg btn-outline btn-block"
                   value="{{ transition.name }}">
        </form>
    {% endfor %}
</div>
{% endblock %}
